* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@media screen and (max-width: 1000px) {
  .form-content {
    background-color: beige;
  }
}
@media all and (max-width: 800px) {
  .form-content .media-box {
    width: 300px;
  }
}