.banner {
    max-width: 1280px;
    height: 500px;
    background-image: linear-gradient(
        rgba(#000000, 0.3),
        rgba(#000000, 0.3)
    )
    , url(../images/hero-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -90px auto 0 auto;
    position: relative;
   
    h1 { 
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 45px;
        font-weight: lighter;
        margin-left: 550px;
        top: 95px;
        color: #ffffff;
    }

    p {
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin-left: 400px;
        top: 200px;
        text-align: center;
        color: #ffffff;

    }

    button {
        padding: 10px 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin-left: 550px;
        margin-top: 290px;
        background-color: #79addc;
        color: #ffffff;
        border-color: #79addc;
    }
}

